%tr{data: {client_id: client.id}, "href" => "/clients/#{client.id}"}
  - column_style = "height: 45px;"
  %td{style: column_style}= client.full_name
  %td{style: column_style}= client.stage
  %td{style: column_style}= client.dealmaster_rating
  %td{style: column_style}= client.location
  %td{style: column_style}= client.salary
  %td{style: column_style}= client.money
