%tr{data: {client_id: client.id}, "href" => "/clients/#{client.id}"}
  - column_style = "height: 45px;"
  %td{style: column_style}
    = image_tag("client_default_picture.png", style: "max-height: 100%; height: 36px; opacity: 1;")
    = client.full_name
  %td{style: column_style}= client.dealmaster_rating
  %td{style: column_style}= client.stage
  %td{style: column_style}= client.salary
  %td{style: column_style}= client.money
  %td{style: column_style}= client.dealmaster_rating
  %td{style: column_style}= client.salary
  %td{style: column_style}= client.money
