.container-fluid
  .row{style: "padding-top:30px;"}
  .row{style: "padding-bottom:10px;"}
    .col-sm-1
    .col-sm-6.pull-left
      = link_to "<- Back", clients_path
  .row
    .col-sm-1
    .col-sm-5
      - label_style = "font-size:20px;"
      - value_style = "border: 1px solid lightgrey; box-shadow: 1px 1px 1px lightgrey; border-radius: 4px; font-size: 15px; padding-top:5px; padding-bottom:5px;"
      - row_style = "padding-top: 5px;"
      .row
        .col-sm-12
          = image_tag("client_default_picture.png", style: "height: 40px; opacity: 1; border-radius: 37px; box-shadow: 1px 1px 1px lightgrey; vertical-align:middle;")
          %strong{style:"font-size: 40px; font-weight:bolder; vertical-align:middle;padding-left:10px;"}= @client.full_name
      .row{style: "padding-top:20px;"}
        .col-sm-8
          .row{style: row_style}
            .col-sm-5{style: label_style}
          .row{style: row_style}
            .col-sm-5{style: label_style}
              %strong Stage
            .col-sm-7{style: value_style}
              = @client.stage
          .row{style: row_style}
            .col-sm-5{style: label_style}
              %strong CPS
            .col-sm-7{style: value_style}
              = @client.dealmaster_rating
          .row{style: row_style}
            .col-sm-5{style: label_style}
              %strong Rank
            .col-sm-7{style: value_style}
              = @client.salary
          .row{style: row_style}
            .col-sm-5{style: label_style}
              %strong Money
            .col-sm-7{style: value_style}
              = @client.money
          .row{style: row_style}
            .col-sm-5{style: label_style}
              %strong Location
            .col-sm-7{style: value_style}
              = @client.location
      .row{style: "padding-top:40px;"}
      .row
        .col-sm-12
          %strong{style:"font-size: 30px; font-weight:bolder; vertical-align:middle;"} DealMaster Scorecard
      .row{style: "padding-top:10px;"}
        .col-sm-4
          %strong{style:"font-size: 20px; font-weight:bolder; vertical-align:middle;"} Status
        .col-sm-8
          .btn-group{"aria-label" => "...", :role => "group"}
            %button.btn.btn-default{:type => "button", class: if @client.stage == "Presenting" then "active" end} Presenting
            %button.btn.btn-default{:type => "button", class: if @client.stage == "Negotiating" then "active" end} Negotiating
            %button.btn.btn-default{:type => "button", class: if @client.stage == "Sold" then "active" end} Sold
      .row{style: "padding-top:10px;"}
        .col-sm-4
          %strong{style:"font-size: 20px; font-weight:bolder; vertical-align:middle;"} Type
        .col-sm-8
          .btn-group{"aria-label" => "...", :role => "group"}
            %button.btn.btn-default{:type => "button"} Buy
            %button.btn.btn-default{:type => "button"} Rent
      .row{style: "padding-top:10px;"}
        .col-sm-4
          %strong{style:"font-size: 20px; font-weight:bolder; vertical-align:middle;"} Close %
        .col-sm-8
          .btn-group{"aria-label" => "...", :role => "group"}
            %button.btn.btn-default{:type => "button"} 0%
            %button.btn.btn-default{:type => "button"} 25%
            %button.btn.btn-default{:type => "button"} 50%
            %button.btn.btn-default{:type => "button"} 75%
            %button.btn.btn-default{:type => "button"} 100%
      .row{style: "padding-top:25px;"}
        .col-sm-8{style: "padding-right:0px;"}
          .bs-example{"data-example-id" => "textarea-form-control"}
            %form{:lpformnum => "3"}
            %textarea.form-control{:placeholder => "Notes", :rows => "4"}
      .row
        .col-sm-8{style: "padding-right:0px;"}
          %button.pull-right.btn.bnt-default{style: "margin-top:5px; background-color: #001744; color:white;"} Save
    .col-sm-5
      .row
        %script{:src => "https://www.google.com/jsapi?autoload={\n            'modules':[{\n              'name':'visualization',\n              'version':'1',\n              'packages':['corechart']\n            }]\n          }", :type => "text/javascript"}
        :javascript
          google.setOnLoadCallback(drawChart);
        
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Year', 'Rent', 'Buy'],
              ['2012',  1000,      400],
              ['2013',  1170,      460],
              ['2014',  660,       1120],
              ['2015',  1030,      540]
            ]);
        
            var options = {
              title: 'Number Of Listings in Price',
              curveType: 'function',
              legend: { position: 'bottom' }
            };
        
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        
            chart.draw(data, options);
          }
        #curve_chart{:style => "width: 600px; height: 400px"}
      .row
        %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}
        :javascript
          google.load("visualization", "1", {packages:["corechart"]});
          google.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['Task', 'Hours per Day'],
              ['1k - 2k', 11],
              ['2k - 3k', 7],
              ['4k - 5k', 2],
              ['6k - 7k', 2],
              ['7k - 8k', 2]
            ]);
        
            var options = {
              title: 'Number of Listings: New York City',
              is3D: true,
            };
        
            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
          }
        #piechart_3d{:style => "width: 600px; height: 400px;"}
    .col-sm-1
